@import './color.css';
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

.profileAdmincontainer {
    max-width: 100vw;
    background-color: var(--white);
    font-family: "Freeman", sans-serif;
    padding-bottom: 20px;
  }
.AdminPro{
  width: 100%;
  background-color: var(--white);
}
.profileBox{
  width:400px;
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: var(--white);
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin-top: 15%;
  margin-left: 10%;
}  
.profileBox  h2 {
    text-align: center;
  }
  
.profileBox  .form-group {
    margin-bottom: 15px;
  }
  
  .profileBox  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .profileBox  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .profileBox button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profileBox  button[type="submit"] {
    background-color: var(--orange);
    color: var(--blue);
  }
  
  .profileBox  button[type="button"] {
    background-color: var(--orange);
    color:var(--blue);
  }
  
  .profileBox button + button {
    margin-left: 10px;
  }
  @media only screen and (max-width: 992px) {
    .profileBox{
      margin-top: 15%;
      margin-left: 16%;
    }
  }
  @media only screen and (max-width: 680px) {
    .profileBox{
      margin-top: 20%;
      margin-left: 6%;
    }
    }
    @media only screen and (max-width: 560px) {
        .profileBox{
            width: 300px ;
            margin-top: 30%;   
        }}
        @media only screen and (max-width: 420px) {
          .profileBox{
              width: 260px ;
              padding: 0 10px;
              margin-top: 40%;   
          }}
        @media only screen and (max-width: 425px) {
            .adminProfileContainer{
                width: 378px;
            }
          }