@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Sedan+SC&display=swap');
:root {
    font-family: "Sedan SC", serif;
    --blue: #0F1035;
    --pink: #365486;
    --orange: #7FC7D9;
    --white: #DCF2F1;
  }